<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/sakura-earthly.css">
  <link rel="stylesheet" href="/static/search.css">
  <title>{{request.args.get('q',"Home")}} {{theme.title}}</title>
  {% block favicon %}<link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>{% endblock favicon %}
  <link rel="search"
      type="application/opensearchdescription+xml"
      title="LCARS search"
      href="/static/search.xml">

</head>
<body>
  <header>
    <a href="/"><h1>{{theme.tagline}}</h1></a>
    <form action="/search/" method="get" class="searchform">
      <input type="search" spellcheck=true class="searchinput" name="q" value="{{request.args.get('q',"")}}">
      <input type="submit" value="Search">
    </form>
    {# Handle menu links #}
    {% for name, link in theme.menu_links.items() %}
        <a href="{{link}}">{{name}}</a>
        {% if not loop.last -%}|{% endif -%}
    {% endfor %}
    <hr>
  </header>

  {% block content %}
  {% endblock content %}

</body>
</html> 
