{% extends 'base.html' %}

{% block content %}
<div class='searchInfo'>
    <span>Query: <code>{{(query|string)[7:-2]}}</code></span>
    <span>Results: {{matches.get_matches_estimated()}}</span>
</div>
{% if correction %}
<p>Did you mean: <a href="/search/?q={{correction.decode("utf-8")}}">{{correction.decode("utf-8")}}</a></p>
{% endif %}
{% for match in matchData %}
<article class="searchResult">
    <a href={{match.url}}><h3>{{match.title}}</h3></a>
    <h4>{{match.url}}</h4>
    {{match.snippet|safe}}
    <hr>
</article>
{% else %}
<h2>No results found</h2>
{% endfor %}
<form action="/search/" method="get" class="searchPagination">
    <input type="hidden" name="q" value="{{request.args.get('q',"")}}">
    {% for i in range(1,pages) %}
    {% if i|string == request.args.get('page','1') %}
    <button type="submit" name="page" value="{{i}}">{{i}}</button> 
    {% else %}
    <input type="submit" name="page" value="{{i}}"></input> 
    {% endif %}
    {% endfor %}
</form>

{% endblock content %}
