{% extends 'base.html' %}

{% block content %}

<div class='searchInfo'>
    <span></span>
    <span>Results: {{searchResult.count}}</span>
</div>
{#{% if searchResult.corrected != searchResult.query_text %}
<p>Did you mean: <a href="/search/?q={{searchResult.corrected}}">{{searchResult.corrected}}</a></p>
{% endif %} #}
{% for item in searchResult.documents %}
<article class="searchResult">
    <a href="{{item.url}}"><h3>{{item.title}}</h3></a>
    <h4>{{item.url}}</h4>
    <p>{{item.snippet|safe}}</p>
    <hr>
</article>
{% else %}
<h2>No results found</h2>
{% endfor %}
<form action="/search/" method="get" class="searchPagination">
    <input type="hidden" name="q" value="{{request.args.get('q',"1")}}">
    {% for i in range(1,(searchResult.count//searchResult.limit)+2) %}
    {% if i|string == request.args.get('page','1') %}
    <button type="submit" name="page" value="{{i}}">{{i}}</button> 
    {% else %}
    <input type="submit" name="page" value="{{i}}"></input> 
    {% endif %}
    {% endfor %}
</form>
{% endblock content %}
